:root { 
--gray_900_02:#071827; 
--blue_gray_100:#d6d6d6; 
--amber_400:#eac81f; 
--blue_700:#005ae2; 
--blue_A400:#3284ff; 
--blue_A700:#0065fe; 
--gray_900:#141414; 
--gray_900_01:#112232; 
--blue_gray_600_00:#4c6b8700; 
--green_900:#067808; 
--blue_A200:#4991ff; 
--black_900_0c:#0000000c; 
--gray_50:#f8fafd; 
--gray_100:#f8f7f7; 
--black_900:#000000; 
--white_A700_19:#fefefe19; 
--blue_gray_900_00:#1e344800; 
--blue_gray_900:#1e3448; 
--white_A700:#ffffff; 
--red_A700:#d60505; 
}